#pages{
    main {
        display: flex;
        flex-wrap: wrap;
        background-color: $color-base-primary;
    }

    
    section {
        width: 100%;
        margin: 0;
        padding: 0;
        img{
            max-height: 275px;
        }
    }


    .menuTitre {
        &__text {
            background-color: $color-base-primary;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -50px;
            margin-bottom: -50px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            font-size: 1.6em;
            padding: 25px 0 0;
            h1 {
                padding: 0 0 0 20px;
            }
            .heart {
                margin-right: 40px;
                & .fas{
                    position: absolute;
                    top:2px;
                    left: -0.5px;
                }
            }
        }
    }


    .container {
        padding: 45px 15px 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &__titre {
            font-weight: 300;
            &::after{
                content:"";
                display: block;
                width: 40px;
                margin-top: 5px;
                border-bottom: 3px solid $color-anim-tertiary;
            }
        }
        
        .element {
            width: 100%;
            height: 100%;
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            height: auto;
            background-color: white;
            overflow: hidden;
            &__menu{
                width: 100%;
                display: flex;
                padding: 10px 0 15px 15px;
                &__description {
                    width: 100%;
                    h3 {
                        width: 95%;
                        font-size: 1.2em;
                        font-weight: 700;
                        padding-bottom: 5px;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis; 
                    }
                    p {
                        width: 95%;
                        font-weight: 300;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                &__price {
                    display: flex;
                    justify-self: flex-end;
                    align-items: flex-end;
                    margin-left: -15px;
                    padding: 0 15px 0 5px;
                    background-color: white;
                    strong {
                        color: $color-base-tertiary;
                        text-align: right;
                    }
                }
                &__icon {
                    display: none;
                    background-color: $color-anim-tertiary;
                    margin: -10px 0 -15px 0px;
                    margin-right: -65px;
                    width: 67.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    .fas {
                        color: white;
                        font-size: 1.5em;
                        transform: rotate(90deg);
                    }
                }
            }
            &:hover{
                .element__menu__description {
                    transition: all 0.4s ease-in-out;
                    margin-right: -100px;
                    h3, p{
                        transition: all 0.4s ease-in-out;
                        width: 55vw;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .fas{
                    transform: rotate(360deg);
                    transition: all 0.4s ease-in-out 0.1s;
                }
            }
        }
    }
    
}