#pages{
    background-color: $color-base-primary;
    main {
        display: flex;
        flex-wrap: wrap;
    }
    
    section {
        width: 100%;
        @include reset;
        img{
            max-height: 275px;
        }
    }

    .menuTitre {
        &__text {
            background-color: $color-base-primary;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -50px;
            margin-bottom: -50px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            font-size: 1.6em;
            padding: 25px 0 0;
            h1 {
                padding: 0 0 0 20px;
            }
            .heart {
                margin-right: 40px;
                & .fas{
                    position: absolute;
                    top:2px;
                    left: -0.5px;
                }
            }
        }
    }

    .container {
        padding: 45px 15px 5px;
        @include flexRow;
        overflow: hidden;
        &__titre {
            font-weight: 300;
            @include titleUnderline;            
        }
        
        .element {
            width: 100%;
            height: auto;
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            overflow: hidden;
            opacity:0;
            animation: slide 1s $calculDelay forwards;
            &__menu{
                width: 100%;
                display: flex;
                padding: 0;
                &__description {
                    width: 100%;
                    padding: 10px;
                    margin: 0;
                    h3 {
                        padding-bottom: 5px;
                        width: 90%;
                        font-size: 1.2em;
                        font-weight: 700;
                        @include ellipsis(wrap);
                    }
                    p {
                        width: 90%;
                        font-weight: 300;
                        @include ellipsis(nowrap);
                    }
                }
                &__price {
                    display: flex;
                    justify-self: flex-end;
                    align-items: flex-end;
                    margin-left: -30px;
                    padding: 0 15px 10px 0px;
                    background-color: white;
                    strong {
                        color: $color-base-tertiary;
                        text-align: right;
                    }
                }
                &__icon {
                    background-color: $color-anim-tertiary;
                    margin: -10px 0 -15px 0px;
                    margin-right: -65px;
                    width: 67.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    .fas {
                        color: white;
                        font-size: 1.5em;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .button {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 30px auto 35px;
    }
}