.button {
    width: 50%;
    margin: 35px auto;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 5px 10px $shadow;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(to bottom right, $color-anim-secondary 0%, $color-anim-primary 100%);
    color: white;
    transition: all 0.2s;
    &:hover{
        background: linear-gradient(to bottom right, $color-anim-secondary 0%, $color-anim-primary 100%);
        opacity: 0.8;
    }
}