// COLOR FOR FONT AND BACKGROUND
$color-base-primary: #EAEAEA;
$color-base-secondary: #F6F6F6;
$color-base-tertiary: #353535;


// COLOR FOR BUTTON AND ANIMATION
$color-anim-primary: #9256dc;
$color-anim-secondary: #FF79DA;
$color-anim-tertiary: #98e2cf;

// COLOR FOR ICONS AND SHADOWS
$color-iframe:#7E7E7E;
$shadow: #b4b4b4;
