// COLOR FOR FONT AND BACKGROUND
$color-base-primary: #EAEAEA;
$color-base-secondary: #F6F6F6;
$color-base-tertiary: #353535;


// COLOR FOR BUTTON AND ANIMATION
$color-anim-primary: hsl(267, 66%, 60%);
$color-anim-secondary: #FF79DA;
$color-anim-tertiary: hsl(165, 56%, 74%);

// COLOR FOR ICONS AND SHADOWS
$color-iframe:#7E7E7E;
$shadow: #b4b4b4;
